body {
  background-color: var(--gray-000);
}

.container {
  width: 100%;
  display: flex;
  padding: 20px;
}

aside {
  max-width: 200px;
  height: calc(100dvh - 40px);
  padding: 16px;
  margin-right: 20px;
  background-color: var(--gray-900);
}
.none > nav > a > span:nth-child(2) {
  display: none;
}
.none > .logo > span {
  display: none;
}
.logo {
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.image-logo {
  width: 30px;
}

.text-logo {
  font-size: 24px;
  font-weight: 900;
}
nav {
  padding-top: 25px;
}
nav > a {
  width: 100%;
  height: 48px;
  margin: 2px;
  padding: 16px;
  line-height: 16px;
  text-decoration: none;
  border-radius: 6px;
  color: var(--gray-700);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

nav > a > span {
  color: var(--gray-700);
  font-size: 10px;
}

nav > a > .text {
  font-size: 14px;
}

.main-container {
  width: 100%;
}

header {
  width: 100%;
  padding: 20px 24px;
  background-color: var(--gray-900);
  display: flex;
  align-items: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.search > span {
  color: var(--gray-700);
}
.search .div-icon {
  max-width: 400px;
  flex-grow: 1;
}
#burger_menu {
  cursor: pointer;
}
.user-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}
.user-info span {
  color: var(--gray-700);
}

.user-info .language {
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-info .switch-mode {
  width: 44px;
  height: 24px;
  padding: 2px;
  display: flex;
  align-items: center;
  background-color: var(--gray-600);
  gap: 2px;
  border-radius: 15px;
}

.user-info .switch-mode > span {
  color: #fff;
  padding: 2xp;
  font-size: 18px;
}
.user-info .switch-mode .active-mode {
  background-color: var(--gray-800);
  border-radius: 50%;
}

.user-info .avatar {
  width: 40px;
  border-radius: 50px;
}
