

.main-container {
  width: 100%;
}








.search > span{
  cursor: pointer;
}

.search > div >input{
  
}

.user-info {
}
.user-info span {
  color: var(--gray-700);
}

.user-info .language {
  
}
.user-info .switch-mode {

}

.user-info .switch-mode > span {
  color: #fff;
  padding: 2xp;
  font-size: 18px;
}
.user-info .switch-mode .active-mode {
  background-color: var(--gray-800);
  border-radius: 50%;
}

.user-info .avatar {
 
}
