:root{
  --background-color: #161B21;
  --primary-color: #1D232C;
  --secondary-color: #3B4758;
  --tertiary-color: ;
  --neutral-color: #fff;

  --text-primary-color: #EEF0F4;
  --text-secondary-color: #586A84;
  --text-tertiary-color: #BAC4D1;

  --primary-button-color: #319DFF;
  --secondary-button-color: #7D8FA9;
  --success-button-color: #10D096
  --danger-button-color: #FF316A;
  --warning-button-color: #FFAA04;
  --info-button-color: #129199;
  --light-button-color: #EEF0F4;
  --dark-button-color: #3B4758;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--gray-100);
}

.border{
  border-radius: 12px;
}

/*TEXT*/
h1{
font-weight: 700;
font-size: 36px;
line-height: 42px;
}
h2{
font-weight: 700;
font-size: 24px;
line-height: 28px;
}
h3{
font-weight: 700;
font-size: 18px;
line-height: 21px;
}
h4{
font-weight: 700;
font-size: 16px;
line-height: 19px;
}
.subtitle{
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.text{
font-weight: 400;
font-size: 14px;
line-height: 16px;
}
.label{
font-weight: 400;
font-size: 12px;
line-height: 14px;
}
.notes{
font-weight: 300;
font-size: 10px;
line-height: 12px;
}
.text-center{
  text-align: center;
}


/*LINK*/
.small-link-primary{
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-600);
}
.medium-link-primary{
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-600);
}
.large-link-primary{
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: var(--primary-600);
}
.small-link-primary:hover{
  color: var(--primary-700);
}




.pass-strength{
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  gap:  5px;
}
.pass-strength-item{
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--gray-100);
}

/*INPUT*/
.basic-input{
  width: 100%;
  height: 40px;
  padding: 12px 10px 12px 20px;
  background: var(--gray-800) ;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 5px 0;
}
.div-icon{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.icon-right{
  position: absolute;
  right: 10px;
  color: var(--gray-500);
  cursor: pointer;
}

.input-icon-right{
  padding-right: 40px;
}
.icon-left{
  position: absolute;
  left: 10px;
  color: var(--gray-500);
  cursor: pointer;
}
.input-icon-left{
  padding-left: 40px;
}

.basic-input::placeholder {
  color: var(--text-ternary-color);
  opacity: 0.4;
  font-size: 14px;
  line-height: 16px;
}

.basic-input:focus{
  border: solid 1px var(--primary-600);
}

/*BUTTON*/
.btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  gap: 3px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}
.btn-sign-with{
  height: 48px;
  background: var(--gray-900);
  border: 1px solid var(--gray-600);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-100);
}
.btn-sign-with:hover{
  background: var(--gray-800);
}
.btn-large{
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.btn-medium{
  height: 40px;
  font-size: 14px;
  line-height: 16px;
}
.primary{
  background: var(--primary-600);
  color: #FFFFFF;
}
.primary:hover{
  background: var(--primary-700);
  color: #FFFFFF;
}

